---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Ahora" canonicalPath="/ahora/">
  <article>
    <header class="main-post">
      <h1><a href="/ahora/">Ahora</a></h1>
    </header>
    <section>
      <p><em>(Esta página está inspirada en la “<a href="https://sive.rs/now">now page</a>” de <a href="https://sive.rs/">Derek Sivers</a> y el proyecto <a href="https://nownownow.com/">Now Now Now</a>.)</em></p>
      <p>Estoy viviendo en Bogotá, Colombia trabajando principalmente para <a href="https://www.mindk.com/" target="_blank" rel="noopener noreferrer">Mindk</a>pero también para <a href="https://www.desal.co/" target="_blank" rel="noopener noreferrer">Desal</a> y algunos clientes en Canadá a través de <a href="https://www.alunizar.co" target="_blank" rel="noopener noreferrer">Alunizar</a>.</p>
      <p>Mi esposa y yo nos inscribimos a la Maratón de Tokyo 2025 y estamos esperando el sorteo para planear la ida a Japón como nuestra luna de miel. Estoy entrenando con <a href="https://onerunning.io" target="_blank" rel="noopener noreferrer">ONE Running</a>, <a href="https://www.freeletics.com/" target="_blank" rel="noopener noreferrer">Freeletics</a> y haciendo movilidad después de una lesión con <a href="https://thereadystate.com" target="_blank" rel="noopener noreferrer">The Ready State</a> para recuperarme y mejorar mi movilidad.</p>
      <p>Produzco y a veces hablo en el podcast <a href="https://www.elmaravillosofuckingdespertar.com" target="_blank" rel="noopener noreferrer">El Maravilloso Fucking Despertar</a> sobre el despertar de conciencia.</p>
      <p>En mis tiempos libres leo de estoicismo, productividad y aprendo más de programación.</p>
      <p>Actualizado el 24 de agosto de 2024.</p>
    </section>
  </article>
</BaseLayout>
