---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Yo" canonicalPath="/yo/">
  <article>
    <header class="main-post">
      <h1><a href="/yo/">Yo</a></h1>
    </header>
    <section>
      <p>Minimalista en proceso, administrador de empresas por profesión, desarrollador web por vocación y fotógrafo por afición (aunque ya no tanto).</p>
      <p>Intencional y no convencional.</p>
      <h2>Mis proyectos</h2>
      <p>De vuelta a <a href="https://www.alunizar.co/">Alunizar</a> y también trabajando para <a href="https://www.mindk.com/">MindK</a>.</p>
    </section>
  </article>
</BaseLayout>
