---
import { site } from '../config/site.js';
const year = new Date().getFullYear();
---
<footer>
  &copy; {year} <a href="/">{site.title}</a><br />
  Hecho con <span class="corazon">&#x2764;</span> por <a target="_blank" rel="noopener noreferrer" title="Alunizar" href="https://www.alunizarstudio.com">Alunizar</a>
</footer>
