---
import { site } from '../config/site.js';
import Navigation from './Navigation.astro';
---
<header class="site-header">
  <div class="site-title">
    <a href="/">{site.title}</a>
  </div>
  <Navigation />
</header>
