---
import { formatPostDate } from '../utils/posts.js';
import { postPath } from '../utils/urls.js';
const { post, Content } = Astro.props;
const url = postPath(post);
---
<article>
  <header class="main-post">
    <h1><a href={url}>{post.data.title}</a></h1>
    <time class="post-date" datetime={post.data.date.toISOString()}>{formatPostDate(post.data.date)}</time>
  </header>
  <section>
    <Content />
  </section>
</article>
